
:root {
    --primary-color: #2274A5;
    --secondary-color: #816C61;
    --alternative-color: #E7DFC6;
    --dark-color: #131B23;
    --light-color: #E9F1F7;
    --border-radius: 5px;
    --main-shaddow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--dark-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0.75rem 1rem;
    background: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--light-color);
    font-size: 1rem;
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.05);
}

header {
    padding: 1rem;
    text-align: center;
}

header > a {
    display: inline-block;
    min-width: 150px;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    color: var(--light-color);
    border-radius: var(--border-radius);
    border: none;
}

header > a:hover{
    filter: brightness(1.05);
}
