.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.menuItems {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--main-shaddow);
}

.menuItems:hover {
    filter: brightness(1.05);
}
