.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.menuItems {
    min-width: 15rem;
    background: var(--primary-color);
    color: var(--light-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--main-shaddow);
    text-align: center;
}

.menuItems:hover {
    filter: brightness(1.05);
}
